form {
	-webkit-columns: 2 400px;
	-moz-columns: 2 400px;
	columns: 2 400px;
	-webkit-column-gap: 0em;
     -moz-column-gap: 0em;
          column-gap: 0em;
          colunm-
}
input {
	display: block;
	width: 90%;
	margin:20px auto;
}